@import "../../common/colors";
@import "../../common/text";

.pie-chart-wrapper {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .border {
    position: absolute;
    left: -64px;
    top: -28px;
    height: 210px;
    width: 2px;
    background: linear-gradient(270deg, #37B06F -50%, rgba(147, 157, 167, 0) 50%);
  }

  .pie-wrapper {
    width: 134px;
    height: 134px;
  }

  .legend-wrapper {
    display: flex;
    padding-top: 21px;

    .legend-item {
      display: flex;
      align-items: flex-start;

      &:not(:last-child) {
        margin-right: 25px;
      }

      .box {
        width: 10px;
        height: 10px;
        margin-right: 5px;
        margin-top: 5px;
      }

      .value-wrapper {
        font-size: $font-size-regular - 0.1;
        color: $gray-8;

        .label {
          color: $gray;
          font-size: $font-size-regular + 0.1;
        }
      }
    }
  }
}
