@import "../../common/text";
@import "../../common/colors";

.connect-wrapper {

  .onboarding-content-wrapper {
    padding: 80px 0;
  }

  .metamask-login-wrapper {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-top: 1px solid $green;

    h2 {
      margin: 35px 0;
    }

    p {
      line-height: 26px;
      margin: 0 0 35px 0;
    }

    .button {
      width: fit-content;
      margin: 0 auto;

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
