  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Description" content="CDP saver">

  <link rel="preload" href="<%=htmlWebpackPlugin.files.chunks.main.css %>" as="style" onload="this.rel='stylesheet'">

  <title>CDP Saver</title>

  <script type="text/javascript"> var _paq = window._paq || []; _paq.push(['trackPageView']); _paq.push(['enableLinkTracking']); (function() { var u="https://cryptage.innocraft.cloud/"; _paq.push(['setTrackerUrl', u+'matomo.php']); _paq.push(['setSiteId', '6']); var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s); })(); </script>
</head>
<body>
  <div id="root"></div>

  <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks.main.entry %>" as="script">
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>
