@import "../../../../common/variables";
@import "../../../../common/text";
@import "../../../../common/colors";

.onboarding-wizard-monitoring-wrapper {

  .onboarding-content-wrapper {
    @include flex-center;
    flex-direction: column;
    padding: 80px 0 100px 0;
  }

  .onboarding-controls .button {
    width: 124px;
  }

  .form-wrapper {
    max-width: 300px;

    .form-item-wrapper {

      div.form-item-error {
        padding-left: 19px;
      }
    }

    .form-item-wrapper:first-child {
      margin-bottom: 0;
      padding: 13px 19px;

      &.wrapper-error {
        padding: 0;

        .input-values {
          padding: 13px 19px;
        }
      }

      .input-values {
        flex-direction: column;

        label {
          margin-bottom: 5px;
        }

        .form-item {
          font-size: $font-size-small + 0.1;
          text-align: left;
        }
      }
    }

    .form-item-wrapper:nth-child(2) {
      padding: 20px 23px;

      &.wrapper-error {
        padding: 0;

        .input-values {
          padding: 20px 23px;
        }
      }

      .input-values .form-item {
        width: 77px;
      }
    }
  }
}
