@import "../../common/colors";
@import "../../common/variables";
@import "../../common/text";

.dashboard-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .sub-heading-wrapper {

    .left a:not(:last-child) { margin-right: 41px; }
    .right {
      display: flex;

      .sub-title {
        padding-right: 14px;
        border-right: 1px solid $green;
        margin-right: 14px;
      }
    }

    .width-container {
      justify-content: space-between;
    }

    .account-wrapper {
      display: flex;
      align-items: center;

      .acc-type {
        color: $gray;
        margin-right: 4px;
      }

      .connected {
        color: $green;
        margin-right: 9px;
      }

      .acc {
        cursor: pointer;
        font-size: $font-size-medium;
        text-decoration: underline;
        @include hover-transition;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.dashboard-page-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .content-wrapper {
    background: $gray-6;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > .width-container {
      width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
