@import "../../common/text";
@import "../../common/colors";

.action-items-wrapper {

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 310px;

    .button {
      width: 124px;

      &.variable-width { width: auto; }
    }

    .form-item-wrapper {
      border-left-width: 9px;
      margin-bottom: 0;

      &.active {
        &.generate, &.payback { input { color: $purple; } }
        &.withdraw, &.collateral{ input { color: $yellow; } }
        &.repay, &.boost { input { color: $blue; } }
      }

      .input-values {

        label {
          white-space: nowrap;
          font-size: $font-size-medium;
          color: white;
        }

        input {
          padding-left: 15px;
          outline: 0;
        }
      }

      &.generate, &.payback { border-left-color: $purple }
      &.withdraw, &.collateral{ border-left-color: $yellow }
      &.repay, &.boost { border-left-color: $blue }
    }
  }
}
