@import "../../common/colors";
@import "../../common/text";
@import "../../common/variables";

.manager-page-wrapper {

  .main-section-wrapper {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #2B3943 0%, rgba(43, 57, 67, 0.46) 92.86%);
    border-bottom: 1px solid $green;

    .after-value {
      &.generate, &.payback { .amount { color: $purple; } }
      &.withdraw, &.collateral { .amount { color: $yellow; } }
      &.repay, &.boost { .amount { color: $blue; } }
    }

    .main-subsection {
      flex-grow: 1;
      padding: 37px 57px 34px 32px;

      &.chart {
        display: flex;
        align-items: center;
        flex-grow: 0;
      }

      .info-wrapper-main {
        display: flex;
        margin-bottom: 50px;

        .item {
          position: relative;
          color: $gray;

          &:not(:last-child) { margin-right: 45px; }

          .label { margin-bottom: 1px; }

          .value {
            font-size: 42px;
            color: white;

            max-width: 220px;
            @include ellipsis;
          }

          .after-value {
            position: absolute;

            .amount-wrapper {
              display: flex;
              align-items: center;

              .after {
                margin-right: 5px;
              }

              .amount {
                font-size: 20px;
              }
            }
          }
        }
      }

      .row-item-wrapper {
        display: inline-flex;
        align-items: center;
        font-size: $font-size-extra-large;
        color: $gray;
        position: relative;

        &.with-switch {
          align-items: flex-end;

          .row-val-wrapper {
            position: relative;
          }
        }

        &:not(:last-child) { margin-right: 55px; }

        svg { margin-right: 20px; }

        .after-value {
          position: absolute;
          bottom: -20px;
          font-size: $font-size-regular;

          .amount-wrapper {
            display: flex;
            align-items: center;

            .after {
              font-size: $font-size-regular;
              margin-right: 5px;
            }

            .amount {
              font-size: $font-size-regular + 0.1;
            }
          }
        }

        .row-val-wrapper {
          display: flex;
          flex-direction: column;

          .label {
            display: flex;
            align-items: center;
            font-size: $font-size-regular;

            .icon-Info-circle {
              margin-right: 3px;
              font-size: 12px;

              &:before { color: $gray; }
            }
          }

          .stability-label {
            font-weight: 600;
            font-size: $font-size-small;
            letter-spacing: -0.03em;
            @include hover-transition;
            cursor: pointer;

            &.active { color: white; }
            &.inactive { color: #939DA6; }

            &:hover { opacity: 0.7; }
          }

          .label-wrapper {
            position: relative;
            width: 114px;
            bottom: 3px;

            &:first-child { width: 98px; }
          }

          .divder {
            color: #3DAF71;
          }
        }

        .value {
          margin-left: 3px;
          color: white;
          font-size: $font-size-giant + 0.3;

          @include ellipsis;
          max-width: 175px;

          & > div {
            @include ellipsis;
            max-width: 175px;
          }
        }
      }
    }
  }

  .max-wrapper {
    position: absolute;
    top: -20px;
    color: $gray;
    width: 100%;
    text-align: right;

    &:not(.loading) {
      @include hover-transition;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .bottom-controls {
    margin-bottom: 32px;
  }

  .item-button-wrapper {
    display: flex;
  }

  .actions-section-wrapper {

    .tab-content {
      padding: 60px 60px 17px 60px;

      .action-items-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
      }
    }
  }
}
