@import "../../../common/colors";
@import "../../../common/text";
@import "../../../common/variables";

.close-cdp-modal-wrapper {

  .container {
    @include flex-center;
    background: $dark-gray;

    .lock-unlock-interface-wrapper {
      max-width: 380px;
      margin: 37px 50px 54px 50px;
    }

    .description {
      max-width: 380px;
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    color: white;

    .title {
      background: $dark-gray;
      font-size: $font-size-extra-large;
      padding: 57px 0 32px 0;
      margin: 0;
    }
  }

  .loading-wrapper, .error-wrapper, .description {
    background: $dark-gray;
  }
}
