@import "../../../common/colors";
@import "../../../common/text";
@import "../../../common/variables";

.close-cdp-modal-wrapper {

  .container {
    @include flex-center;
    background: $dark-gray;

    .lock-unlock-interface-wrapper {
      max-width: 380px;
      margin: 37px 50px 54px 50px;
    }

    .description {
      max-width: 380px;
      margin-top: 5px;
    }

    .error-wrapper {
      padding-top: 0;
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    color: white;

    .content-wrapper.can-close-cdp .description {
      padding-bottom: 20px;
    }

    .title {
      background: $dark-gray;
      font-size: $font-size-extra-large;
      padding: 57px 0 2px 0;
      margin: 0;
    }
  }

  .description {
    padding-top: 5px;
    background: $dark-gray;

    .text {
      margin: 0 auto;
      max-width: 380px;
    }
  }

  .loading-wrapper {
    padding: 20px 20px 40px 20px;
  }

  .no-close, .error-wrapper {
    max-width: 380px;
    color: $dark-red;
    margin: 0;
    font-size: $font-size-large;
    padding: 20px 0 40px 0;
    font-weight: normal;
  }

  .error-wrapper.main-error { padding-top: 40px; }

  .pay-with-dai-wrapper {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;

    .mkr-error-wrapper {
      color: $dark-red;
      margin-bottom: 20px;
    }

    .form-wrapper {
      display: flex;
      justify-content: center;
    }
  }
}
