@import "../../../common/variables";
@import "../../../common/colors";

.onboarding-create-cdp-wrapper {

  .onboarding-content-wrapper {
    @include flex-center;
    flex-direction: column;
    padding: 60px 0 80px 0;

    .content-heading {
      margin-bottom: 20px;
    }
  }

  .form-wrapper {
    max-width: 300px;

    .form-item-wrapper .form-item {
      width: 85px;
    }

    .form-item-wrapper:nth-child(2) {
      margin-bottom: 0;
    }

    .slider-wrapper {
      border: 1px solid $gray-7;
      border-top: 0;
      padding: 20px 20px 15px 20px;

      .rc-slider {
        margin-bottom: 15px;

        .rc-slider-rail {
          background: linear-gradient(90deg, #FF0000 0%, #FF8D00 48.62%, #48BD00 100%);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        .rc-slider-track {
          background-color: transparent;
        }

        .rc-slider-handle {
          border: none;
        }
      }

      .liquidation {
        display: flex;
        justify-content: center;

        .label {
          color: $gray;
          margin-right: 8px;
        }
      }
    }
  }
}
