@import "../../common/variables";
@import "../../common/colors";
@import "../../common/text";

.migrate-page-wrapper {

  .sub-title {
    display: flex;
    align-items: center;

    span:last-child {
      margin-left: 5px;
      font-size: $font-size-medium;
      color: $gray;
      position: relative;
      top: 1px;
    }
  }

  .main-section-wrapper {
    background: linear-gradient(180deg, #2B3943 0%, rgba(43, 57, 67, 0.46) 92.86%);
    border-bottom: 1px solid $green;
    @include flex-center;
    flex-direction: column;
    padding: 45px 0 95px 0;

    .content-title {
      color: white;
      font-size: 20px;
      margin-bottom: 26px;
    }

    .content-text, .content-error {
      text-align: center;
      color: $gray;
      line-height: 21px;
      max-width: 550px;
      margin-bottom: 68px;
    }

    .content-error { color: $dark-red; }

    .button {
      width: 188px;
    }
  }
}
