@import "../../common/colors";
@import "../../common/text";
@import "../../common/variables";
@import "../../common/buttons";

.homepage-wrapper {
  position: relative;

  .section {
    background: $very-dark-gray;
    padding: 110px 0;

    .section-title {
      color: white;
      font-size: $font-size-title;
      text-align: center;

      span {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        margin: 0 9px;
      }
    }

    .section-text {
      text-align: center;
      color: $gray;
      line-height: 24px;
    }

    .button {
      text-transform: uppercase;
    }

    &.first-section {
      padding: 0;
      position: relative;

      .first-section-bg {
        position: absolute;
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
      }

      .width-container {
        position: relative;
        @include flex-center;
        flex-direction: column;
      }

      .section-title {
        margin-top: 175px;
        margin-bottom: 19px;
      }

      .section-text {
        max-width: 534px;
        margin-bottom: 55px;
      }

      .button {
        margin-bottom: 110px;
      }
    }

    &.features-section {
      background: $darker-gray;

      .width-container {
        @include flex-center;
        justify-content: space-between;
      }

      .section-box {
        max-width: 250px;

        .section-box-icon-wrapper {
          @include flex-center;
          margin-bottom: 25px;
          width: 100%;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 48px;

            &.icon-squares { font-size: 28px; }
            &.icon-life-saver { font-size: 45px; }

            &:before {
              color: $green;
            }
          }
        }

        .section-title {
          margin-bottom: 25px;
        }
      }
    }
  }
}
