@import "../../common/variables";
@import "../../common/colors";

.onboarding-create-cdp-wrapper {

  .onboarding-content-wrapper {
    @include flex-center;
    flex-direction: column;
    padding: 60px 0 80px 0;

    .content-heading {
      margin-bottom: 20px;
    }
  }

  .ratio-explain-text {
    margin-top: 20px;
    color: $gray;
    width: 520px;
  }

  .form-wrapper {
    max-width: 300px;

    .form-item-wrapper .form-item {
      width: 85px;
    }

    .form-item-wrapper {
      margin-bottom: 0;
    }

    .new-stats-wrapper {
      border: 1px solid $gray-7;
      border-top: 0;
      padding: 20px 20px 15px 20px;

      &.margin { margin-bottom: 20px; }

      .stat-wrapper {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .label {
          color: $gray;
          margin-right: 8px;
        }

        .value {
          #temp1, #temp2 {
            color: white;
          }
        }
      }
    }
  }

  .dots-wrapper {
    margin-top: 18px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-around;

    .dot-wrapper {
      display: flex;
      align-items: center;

      span { color: $gray; }

      .dot {
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border-radius: 100%;

        &.green { background: #219653; }
        &.orange { background: #F2994A; }
        &.red { background: #EB5757; }
      }
    }
  }
}
