#cancel-sell-cdp-modal-wrapper {
  .cdp-select-wrapper {
    max-width: 300px;
    margin: 0 auto 29px auto;
  }

  .modal-content {
    padding-bottom: 29px;

    .title.success {
      margin-bottom: 0;
    }

    .modal-error {
      padding-bottom: 0;
    }
  }
}
