@import "../../common/variables";
@import "../../common/colors";

.saver-page-wrapper {

  .info-section {
    @include flex-center;
    flex-direction: column;
    padding: 33px 0 52px 0;
    background: linear-gradient(180deg, #2B3943 0%, rgba(43, 57, 67, 0.46) 92.86%);
    border-bottom: 1px solid $green;

    .main-items-wrapper {
      @include flex-center;
      margin-bottom: 40px;

      .item {
        width: 200px;
        text-align: center;

        .label {
          color: $gray;
          margin-bottom: 1px;
        }

        .value {
          font-size: 58px;
          color: white;
        }
      }
    }

    .row-item-wrapper {
      color: $gray;
      font-size: 20px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      .value {
        margin-left: 4px;
        color: white;
      }
    }
  }

  .dual-sections-wrapper {
    height: 267px;
    margin-bottom: 20px;
    background: linear-gradient(180deg, #2B3943 0%, rgba(43, 57, 67, 0) 92.86%);
    display: flex;

    .section {
      flex: 1;
    }

    .section.action {
      padding: 40px 41px 0 52px;

      .section-title {
        font-size: 20px;
        color: white;
        margin-bottom: 7px;
      }

      .temp-form-wrapper {
        color: $gray;
        margin-bottom: 37px;
      }
    }

    .section.additional {
      padding: 40px 41px 0 44px;

      .additional-row {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        .additional-item {
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $gray;
          max-width: 210px;

          .value {
            font-size: 20px;
            color: white;
          }
        }
      }
    }
  }
}
