@import "../../common/colors";
@import "../../common/text";

.onboarding-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.onboarding-page-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;

  .onboarding-content-bg {
    flex-grow: 1;
    background: $gray-6;

    .onboarding-content-wrapper {
      margin-bottom: 50px;
      background: linear-gradient(180deg, #2B3943 0%, rgba(43, 57, 67, 0.46) 92.86%);
      border-bottom: 1px solid $green;

      &.no-margin {
        margin-bottom: 0;
      }

      .content-heading {
        font-size: $font-size-extra-large;
        margin-bottom: 20px;

        span {
          margin-left: 4px;
          font-weight: $font-weight-bold;
        }
      }

      .content-text {
        margin-bottom: 25px;
        color: $gray;
      }
    }

    .bottom-controls button {
      height: 45px;
    }
  }
}
