@import "../../common/colors";
@import "../../common/variables";
@import "../../common/text";

.header-wrapper {
  padding: 23px 0;
  background: $very-dark-gray;
  color: #fff;

  &.homepage, &.onboarding {

    .links-wrapper {
      display: none;
    }
  }

  &.homepage {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  a {
    @include hover-transition;

    &:hover {
      opacity: 0.7;
    }
  }

  .width-container {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-wrapper {
    font-size: $font-size-extra-large;

    span {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      margin-right: 2px;
    }
  }

  .links-wrapper a {
    font-size: $font-size-small-regular;

    &:not(:last-child) {
      margin-right: 41px;
    }
  }
}
