@import "../../common/colors";
@import "../../common/variables";
@import "../../common/text";

.header-wrapper {
  padding: 23px 0;
  background: $very-dark-gray;
  color: #fff;

  &.homepage-header {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .width-container {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-wrapper {
    display: flex;

    img {
      @include hover-transition;
      margin-right: 7px;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}

.links-wrapper a {
  @include hover-transition;
  font-size: $font-size-small-regular;
  color: $gray;

  &:not(:last-child) { margin-right: 25px; }

  &:hover { opacity: 0.7; }

  &.active {
    color: white;
    text-decoration: underline;
  }
}
