@import "../../common/colors";
@import "../../common/variables";

$green-loader: #008744;
$blue-loader: #0057e7;
$red-loader: #d62d20;
$yellow-loader: #ffa700;
$white-loader: #eee;

// scaling... any units
$width: 135px;

.loader-page-wrapper {
  @include flex-center;
  flex-direction: column;
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(43, 57, 67, 0.31) 0%, rgba(43, 57, 67, 0.12) 92.86%);

  &.private {
    background: #20292F;
  }
}

.loader-wrapper {

  .message-wrapper {
    font-size: 20px;
    color: white;
    margin-top: 25px;
  }
}

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .loader-text {
    @include flex-center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
  }

  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: square;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }

  @keyframes color {
    100%,
    0% {
      stroke: $green;
    }
    40% {
      stroke: $green;
    }
    66% {
      stroke: $green
    }
    80%,
    90% {
      stroke: $green;
    }
  }
}
