@import "./colors";
@import "./text";

.select.default {
  margin-right: 11px;

  .select__clear-indicator {
    padding-right: 0;
    position: relative;
    right: -5px;
    padding-left: 3px;
  }

  .select__control {
    cursor: pointer;
    border-radius: 0;
    width: 180px;
    border: none;
    background: none;

    .select__dropdown-indicator {
      color: $gray;

      &:hover {
        color: lighten($gray, 20);
      }
    }

    .select__placeholder {
      font-size: $font-size-small + 0.1;
      color: $gray
    }

    .select__single-value {
      font-size: $font-size-small + 0.1;
      color: white;
    }

    .select__indicator-separator {
      display: none;
    }
  }

  .select__menu {
    width: fit-content;
    border-radius: 0;

    .select__menu-list {
      padding: 0;

      .select__option {
        white-space: nowrap;
      }
    }
  }
}

.select.box {
  background: linear-gradient(180deg, #2B3943 0%, rgba(43, 57, 67, 0.46) 92.86%);

  .select__menu {
    border-radius: 0;

    .select__menu-list {
      padding: 0;

      .select__option {
        color: black;
        text-align: left;
      }
    }
  }

  .select__control {
    cursor: pointer;
    border-radius: 0;
    width: 105px;
    border: none;
    background: none;

    .select__value-container {
      justify-content: flex-end;
    }

    .select__dropdown-indicator {
      color: white;

      &:hover {
        color: lighten($gray, 20);
      }
    }

    .select__single-value {
      font-size: $font-size-medium;
      color: white;
    }

    .select__indicator-separator {
      display: none;
    }
  }
}
