@import "../../../common/colors";
@import "../../../common/variables";
@import "../../../common/text";

.ledger-wrapper {

  .acc-select-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 275px;
    margin: 0 auto;
    width: 100%;

    .label { color: $gray; }

    .select {
      background: $green;

      &.select--is-disabled {
        background: rgba(#61717E, 0.2);
        cursor: not-allowed;
        user-select: none;
      }

      .select__control {
        width: 160px;

        .select__value-container { justify-content: flex-start; }
      }
    }
  }

  .list-wrapper {
    margin: 35px 0;

    .loader-wrapper {
      display: flex;
      justify-content: center;

      .loader {
        width: 21px;
        height: 21px;
        margin: 0 13px 0 0;
      }

      .message-wrapper {
        margin: 0;
        font-size: $font-size-regular;
      }
    }

    .error-wrapper {
      max-width: 380px;
      color: $dark-red;
      margin: 0 auto;
      font-size: $font-size-medium;
      text-align: center;
    }

    .accounts-wrapper {
      max-height: 140px;
      overflow: auto;
    }

    .single-acc {
      width: 470px;
      margin: 0 auto;
      @include hover-transition;
      cursor: pointer;
      padding: 5px 0;

      &:hover:not(.no-click) {
        background: rgba(#37B06F, 0.2);
      }

      &.no-click {
        background: rgba(#61717E, 0.2);
        color: #939DA7;
        user-select: none;
        cursor: not-allowed;
      }
    }

    .more {
      border: none;
      color: $gray;
      cursor: pointer;
      text-decoration: underline;
      display: inline-block;
      margin-top: 20px;
      padding: 0;
      background: none;
      font-size: $font-size-regular;
      @include hover-transition;

      &:hover { opacity: 0.7; }

      &:disabled {
        cursor: not-allowed;

        &:hover { opacity: 1; }
      }
    }
  }

  #cancel { margin: 0; }

  .form-wrapper.custom-path-form {
    margin-top: 35px;
  }
}
