@import "../../../common/colors";
@import "../../../common/variables";

.ledger-wrapper {

  .acc-select-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
    width: 100%;

    .label { color: $gray; }

    .select .select__control {
      width: 160px;

      .select__value-container { justify-content: flex-start; }
    }
  }

  .list-wrapper {
    margin: 50px 0;

    .single-acc {
      @include hover-transition;
      cursor: pointer;
      padding: 5px 0;

      &:hover { color: $gray; }
    }
  }
}
