@import "../../../common/colors";
@import "../../../common/variables";
@import "../../../common/text";

.ledger-wrapper {

  .acc-select-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
    width: 100%;

    .label { color: $gray; }

    .select .select__control {
      width: 160px;

      .select__value-container { justify-content: flex-start; }
    }
  }

  .list-wrapper {
    margin: 30px 0;

    .error-wrapper {
      max-width: 380px;
      color: $dark-red;
      margin: 0 auto;
      font-size: $font-size-medium;
      text-align: center;
    }

    .accounts-wrapper {
      max-height: 140px;
      overflow: auto;
    }

    .single-acc {
      @include hover-transition;
      cursor: pointer;
      padding: 5px 0;

      &:hover { color: $gray; }

      &.no-click {
        user-select: none;
        cursor: not-allowed;

        &:hover { color: white; }
      }
    }

    .more {
      border: none;
      color: $gray;
      cursor: pointer;
      text-decoration: underline;
      display: inline-block;
      margin-top: 20px;
      padding: 0;
      background: none;
      font-size: $font-size-regular;
      @include hover-transition;

      &:hover { opacity: 0.7; }

      &:disabled {
        cursor: not-allowed;

        &:hover { opacity: 1; }
      }
    }
  }

  #cancel { margin: 0; }

  .form-wrapper.custom-path-form {
    margin-top: 35px;
  }
}
